@import "mixins";
* {
  font-family: "Arimo", sans-serif;
}

header {
  background-color: #f4f9e2;
  margin-left: 5%;
  position: relative;
  z-index: 3;
  margin-bottom: 2%;
  & section {
    display: flex;
    width: 100%;
    padding-left: 10%;
    & .header-box-left {
      width: 65%;
      margin-top: 180px;
      & h1 {
        font-size: 24px;
        color: #62d0df;
        margin-bottom: 30px;
      }
      & h2 {
        font-size: 48px;
        line-height: 53px;
        color: #22356f;
        margin-bottom: 50px;
      }
      & p {
        font-size: 24px;
        line-height: 42px;
      }
      & div {
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        margin-right: 30px;
        & .button-1 {
          background: #f9b640;
          color: #ffffff;
          font-size: 16px;
          text-decoration: none;
        }
        & .button-2 {
          color: #f9b640;
          font-size: 16px;
          text-decoration: none;
        }
      }
      & div a {
        padding: 10px 30px;
      }
    }
    & .header-box-right {
      background-image: url("../images/1.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 50%;
      height: 700px;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: -1;
    }
  }
  & nav {
    & ul {
      margin: 0px;
      padding-top: 1%;

      .emblem a {
        font-size: 24px;
        color: #62d0df;
        text-decoration: none;
      }
      & div {
        display: flex;
        & li {
          margin-right: 20px;
          & a:hover {
            padding-bottom: 8px;
            border-bottom: 1px solid#000000;
          }
          & a {
            font-size: 16px;
            color: #22356f;
            text-decoration: none;
          }
        }
      }
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      & .contact-us a {
        background: #62d0df;
        border-radius: 50px;
        font-size: 14px;
        display: flex;
        align-items: center;
        color: #ffffff;
        padding: 15px 30px;
        text-decoration: none;
      }
    }
  }
}
main {
  width: 100%;
  & .first-box {
    display: flex;
    & .text-1 {
      background-color: #62d0df;
      padding: 8% 15%;

      width: 65%;
      color: #ffffff;
      & h2 {
        font-size: 36px;
        padding-bottom: 70px;
      }
      & p {
        font-size: 20px;
        line-height: 28px;
        & span {
          font-size: 24px;
          line-height: 35px;
        }
      }
    }
    & .img {
      background-image: url("../images/2.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 35%;
    }
  }
  & .second-box {
    & .about-us {
      display: flex;
      justify-content: flex-start;
      & h2 {
        font-size: 16px;
        color: #22356f;
        margin: 15%;
      }
      & p {
        font-size: 24px;
        line-height: 34px;
        color: #22356f;
        margin-top: 15%;
      }
    }
    & .second-four-box {
      & h2 {
        font-size: 16px;
        text-align: center;
        color: #22356f;
        opacity: 0.5;
        margin-bottom: 1%;
      }
      & .four-box-img {
        display: flex;
        justify-content: center;
        height: 360px;
        margin-bottom: 4%;
        & .pink {
          background-color: #ffe2de;
        }
        & .green {
          background-color: #c4e76e;
        }
        & .cruar {
          background-color: #62d0df;
        }
        & .blue {
          background-color: #0052c1;
        }
        & div {
          & hr {
            margin-bottom: 50px;
            background-color: #ffffff;
            height: 1px;
            border: none;
          }
          padding: 4% 4%;
          width: 25%;
          & div {
            display: inline;
            & img {
              margin-bottom: 4%;
            }
            & p {
              font-size: 32px;
              line-height: 34px;
              color: #ffffff;
              display: inline-table;
            }
          }
        }
      }
    }
  }
  & .thre-box-own {
    display: flex;
    flex-wrap: wrap;
    & .violet {
      background-color: #22356f;
    }
    & .blue {
      background-color: #0052c1;
    }
    & .photo {
      background-image: url(../images/3.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    & .cruan {
      background-color: #62d0df;
    }
    & .grau {
      background-color: #dee1ff;
    }
    & .purple {
      background-color: #8f00ff;
    }

    & div {
      width: 33.2%;
      padding: 4% 4%;
      height: 480px;
      & hr {
        margin-bottom: 50px;
        background-color: #ffffff;
        height: 1px;
        border: none;
      }
      & div {
        display: inline;
        & img {
          margin-bottom: 1%;
        }
        & p {
          font-size: 32px;
          line-height: 34px;
          color: #ffffff;
          display: inline-table;
        }
      }
    }
  }
  & .four-box-own {
    display: flex;
    flex-wrap: wrap;
    & div {
      width: 33.2%;
      padding: 4% 4%;

      & h2 {
        font-size: 28px;
        color: #22356f;
        margin-bottom: 5%;
      }
      & p {
        font-size: 16px;
        line-height: 25px;
        color: #22356f80;
        opacity: 0.7;
      }
    }
  }
  & .five-box {
    display: flex;
    & .left-box {
      background-image: url("../images/4.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 30%;
    }
    & .right-box {
      padding-left: 100px;
      & h2 {
        font-size: 16px;
        color: #22356F;
        margin: 100px  630px 225px 0px;
      }
      & p {
        font-size: 36px;
        line-height: 53px;
        color: #22356F;
        & span {
          color: #6CD3E1;
        }
      }
      & h3 {
        font-size: 16px;
        color: #FAB63E;
        margin: 150px 330px 40px 0px;
      }
    }
  }
  & .sixth-box {
    display: flex;
    & .left-box {
      padding-left: 200px;
      background-color:#22356F ;
      width: 70%;
      & h3 {
        font-size: 16px;
        color: #ffffff;
        margin: 100px 670px 230px 0px;
      }
      & h2 {
        font-size: 64px;
        margin-bottom: 75px;
        color: #ffffff;
      }
      & p {
        font-size: 36px;
        line-height: 53px;
        color: #ffffff;
        margin-right: 200px;
      }
      & h4 {
        font-size: 16px;
        color: #62D0DF;
        margin: 100px 0px 100px 0px ;
      }
    }
    & .right-box {
      background-image: url("../images/5.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
     width: 30%;
    }
  }
}
footer {
  & section {
    display: flex;
    & .box-left {
      background-image: url("../images/6.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 35%;
    }
    & .box-right {
      width: 65%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-around;
      & h2 {
        font-size: 14px;
        color: #22356f;
        margin-bottom: 50px;
        margin-top: 100px;
      }
      & p {
        font-size: 14px;
        line-height: 23px;
        color: #22356F;
        opacity: 0.7;
        margin-bottom:20px; ;
      }
      & a {
        text-decoration: none;
      }
    }
  }
  & .last-text {
    background-color: #62D0DF;
    & p {
      font-size: 14px; 
      color: #ffffff;
      padding: 2% 5% ;
    }
  }
}
